.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  .btn {
      background-color: black;
      color: white;
  }
  .lead {
    color: white;
  }
  .citySearch {
      font-weight: bold;
  }
  .name {
    display: grid;
    justify-content: center;
    
  }
  